/* Start of Custom fonts */
@font-face {
    font-family: 'League Spartan';
    src: url('./fonts/LeagueSpartan/LeagueSpartan-Extralight.woff2') format('woff2'),
        url('/fonts/LeagueSpartan/LeagueSpartan-Extralight.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url('./fonts/LeagueSpartan-bold/LeagueSpartan-Bold.woff2') format('woff2'),
        url('/fonts/LeagueSpartan-bold/LeagueSpartan-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('./Swiss721BT-BoldCondensed.woff2') format('woff2'),
        url('Swiss721BT-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/* End of Custom fonts */

/* Start of Global Variables */
:root {
	--her-red: #D92A1D;
	--her-grey: #68666B;
	--her-black: #030505;
}
/* End of Global Variables */

/* Start of Global Styles */
body.page-template-template-blog {
	background: linear-gradient(180deg, rgba(237, 217, 171, 0.55) 0%, rgba(237, 198, 171, 0.55) 7.59%, rgba(237, 171, 193, 0.55) 17.88%, rgba(171, 192, 237, 0.55) 30.89%, rgba(171, 235, 237, 0.55) 43.9%, rgba(171, 197, 237, 0.55) 56.36%, rgba(195, 171, 237, 0.55) 68.29%, rgba(237, 171, 193, 0.55) 80.75%, rgba(237, 198, 171, 0.55) 92.13%, rgba(237, 217, 171, 0.55) 104.05%), #FFFFFF;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'League Spartan', sans-serif!important;
}

.container {
	max-width: 1070px;
}

.cat-btn {
	font-weight: bold;
	font-size: 14px;	
	color: var(--her-grey);
	padding: 12px 18px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 4px;
	margin: 4px;
	outline: none;
	border: none;
	text-decoration: none!important;
}

.cat-btn:hover {
	background: #030505;
	box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
	color: #fff;
}

.bs-flex-row {
	display: flex;
	flex-wrap: wrap;
}

.justify-content-center {
	justify-content: center;
}

/* End of Global Styles */


/* Start of Header and Navigation styles */
.custom-blog-header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.233);
}

.custom-blog-header .navbar{
	min-height: 96px;
	background-color: transparent;
	margin: 0;
	max-width: 1070px;
	margin: 0 auto;
}

.custom-blog-header .navbar-nav li a, .custom-blog-header .navbar-nav li:hover a, .custom-blog-header .navbar-nav li.active a,
.custom-blog-header .navbar-nav li.active:hover a
{
	background-color: unset;
	margin-left: 32px;
	font-size: 20px;
	line-height: 22px;
	font-weight: 600;
	color: var(--her-grey);
}

.custom-blog-header .navbar-nav li.active a, .custom-blog-header .navbar-nav li.active:hover a {
	color: var(--her-red);
}

.custom-blog-header .navbar-nav li:hover a, .custom-blog-header .navbar-nav li.active a {
	background-color: unset;
	color: var(--her-red);
}

.custom-blog-header .navbar-default .navbar-collapse {
	min-height: 96px!important;
	border: unset;
	position:relative;
}

.custom-blog-header .navbar-nav {
	margin-top: 22px;
	margin-bottom: 22px;
}
/* End of Header and Navigation styles */

/* Start of Top Section styles */
.bs-top-section {
	padding-top: 64px;
	padding-bottom: 64px;
}
.bs-top-section h1 {
	color: #000;
	font-weight: 600;
	font-size: 56px;
	line-height: 56px;
	text-align: center;
	margin-bottom: 32px;
}
/* End of Top Section styles */

.bs-hero-card {
	margin-bottom: 24px;
}

.bs-hero-card .carousel-inner, .bs-blog-section .post-inner {
	background: #edf0f5;
	box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
	border-radius: 8px;
}

.bs-hero-card .carousel-inner img {
	width:100%;
	max-width:1040px;
	max-height:378px;
	object-fit: cover;
	object-position: center center;
}

.carousel-control.left, .carousel-control.right {
	background-image: unset;
}

.bs-hero-card .caro-card-footer {
	padding: 30px;
}

.cat-rt li, .auth-date li {
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	color: var(--her-black);
}

.auth-date {
	margin-bottom: 0;
}

.auth-date li a {
	color: var(--her-grey)!important;
}

.bs-hero-card li:not(:first-child)::before, .bs-blog-section li:not(:first-child)::before {
	content: "•";
	margin-right: 12px;
}

.bs-hero-card h2 {
	font-weight: 600;
	font-size: 32px;
	line-height: 32px;
	color: #000;
	margin-top: -3px;
	margin-bottom: 18px;
}

/* Blog section styles */

.bs-blog-section .post-inner img {
	width:100%;
	max-width:504px;
	height: 376px;
	object-fit: cover;
	object-position: center center;
	border-radius: 8px 8px 0 0;
}

.bs-blog-section .row {
	margin-left: -24px;
	margin-right: -24px;
}

.distributed-padding {
	padding: 24px;
}

.bs-blog-section .post-card-footer {
	padding: 20px;
}

.bs-blog-section h2 {
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	color: #000;
	margin-top: -3px;
	margin-bottom: 12px;
}


/* Start of Media Queries */
/* Extra Small (xs) devices */
@media(max-width:767px) {
	.custom-blog-header .navbar-nav li a, .custom-blog-header .navbar-nav li:hover a, .custom-blog-header .navbar-nav li.active a, .custom-blog-header .navbar-nav li.active:hover a {
		margin-left: 0;
		border-bottom: unset;
		padding-top: 13px;
		padding-bottom: 13px;
		font-size: 18px;
	}
	.custom-blog-header .navbar-nav {
		margin-top: 22px;
		margin-bottom: 22px;
	}
	.navbar-default .navbar-toggle {
		margin-top: 30px;
	}
	.distributed-padding {
		float: none;
		margin: 0 auto;
		max-width: 504px;
	}
}